// Specific CSS for your home-page
body {

  font-family: 'Roboto', sans-serif;
}

h3 {
  -webkit-font-smoothing: antialiased;
}
.container {
  padding: 0;
  margin: 0;
}

// #hero {
//   // background-image:  linear-gradient(to bottom, rgba(0,0,0,.5)), url(asset_path("party.jpg"));
//   margin-top: 20 rem;
//   height: 100vh;
//   width: 100vw;
//   background-size: cover;
//   background-position: bottom;
//   display: flex;
//   // align-items: center;
//   justify-content: flex-start;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 0 8em;
// }

#hero {
  padding-left: 50px;
}

#hero-box {
  margin-top: 100px;
}

#hero-text {
  margin-bottom: 30px;
}

#hero-text h1 {
  font-size: 3em;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}


#hero-text h3 {
  font-size: 1.2em;
  color: white
}

#myVideo {
  position: fixed;
  z-index: -2;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
