// Specific CSS for your home-page
body {

  font-family: 'Roboto', sans-serif;
}

h3 {
  -webkit-font-smoothing: antialiased;
}
.container {
  padding: 0;
  margin: 0;
}

.hero {
  background-image:  linear-gradient(to bottom, rgba(0,0,0,.5)), url(asset_path("party.jpg"));
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 8em;
}

.hero-text {
  width: 40vw;
}

.hero-text h1 {
  font-size: 3em;
  color: white;
  font-weight: bold;
}


.hero-text h3 {
  font-size: 1.2em;
  color: white
}

form {
  padding: 30px;
  background-color: white;
  width: 30vw;
  border-radius: 3px;
}

.btn-primary {
  background-color: #f02669;
  border: none;
  margin-top: 40px;
  width: 120px;


  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    background-color: #bd0d47;
  }
}


