 <video autoplay muted loop id="myVideo">
<source src=<%= asset_path('party.mp4') %> type=video/mp4>
</video>

  <div id="hero">
<!--      <video autoplay muted loop id="myVideo">
      <source src="assets/party.mp4" type="video/mp4"> -->
    <div class="col-lg-5 col-md-6 col-sm-12" id="hero-box">
      <div id="hero-text">
        <h1>Find unique places to party hardy.</h1>
        <h3>On space-x, you will find the best places to host your next crazy party. Discover the hottest spots in your area.</h3>
      </div>
      <div class="search-form">
          <form action="spaces" method="get" id="home-search-form">
              <div class="form-group">
                <label for="space_address">Where</label>
                <input type="search" class="form-control" id="space_address" placeholder="Anywhere" name="place">
              </div>

              <div class="form-group">
                <label for="cat">What</label>
                <select class="form-control select required" name="cat" id="space_category">
                <option value=""></option>
                <option value="concert hall">concert hall</option>
                <option value="movie theater">movie theater</option>
                <option value="house">house</option>
                <option value="cave">cave</option>
                <option value="museum">museum</option>
                <option value="art gallery">art gallery</option>
                <option value="aquarium">aquarium</option></select>
              </div>

              <input type="Submit" class="btn btn-primary">
          </form>
      </div>
    </div>
  </div>
<footer></footer>
