  <div class="hero">
    <div class="hero-text">
      <h1>Find the best party venues in your area.</h1>
      <h3>On space-x, you will find unique places to host your next crazy party. Discover the hottest spots for outstanding experiences.</h3>
    </div>
    <div class="search-form">
        <form>
            <div class="form-group">
              <label for="space_address">Where</label>
              <input type="text" class="form-control" id="space_address" placeholder="Anywhere">
            </div>

            <div class="form-group">
              <label for="date_field">When</label>
              <input type="text" class="form-control" id="date_field" placeholder="Anytime">
            </div>

            <button type="submit" class="btn btn-primary">
              <%= link_to("Search", spaces_path) %>
            </button>
        </form>
    </div>

  </div>
<footer></footer>
