<% if @spaces.empty? %>
  <h1 style="padding: 120px 30px 60px 40px; font-size: 1.5em;">Sorry, there is no space matching your criteria, why not find another place to party or look into our whole collection?</h1>



  <% @spaces = Space.all %>
  <% @markers = @spaces.map do |space| %>
    <% {lat: space.latitude,lng: space.longitude} %>
  <% end %>
  <%= render 'spaces/space-list' %>
<% else %>
  <%= render 'spaces/space-list' %>
<% end %>
