<div class="submit-background">
  <div class="signup-container">
    <div class="pages-container">
      <div class="signup-form-heading">
        <h2>Add a new space</h2>
      </div>
        <%= render 'spaces/space_form' %>
      </div>
  </div>
</div>

