.index-container {
  display: flex;
  margin-top: 0px;
}
.search-cards {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card-grid-index {
  padding: 75px 30px;
  width: 100%;
}

.map-index {
  height: 100vh;
  width: 50%;
  position: sticky;
  top: 0;
  bottom: 0;
  align-items: stretch;
}

#map {
  height: 100%;
}

.card-trip {
  position: relative;
  overflow: hidden;
  background: white;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.card-trip > h2 {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0,0,0,.5);
  color: white;
  padding: 7px;
  font-size: 2.3em;
  border-radius: 10px;
  -webkit-font-smoothing: antialiased;
}


.card-text {
  margin: 15px 20px;

  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

      h2 {
        font-size: 1.2em;
        a {
        color: #f02669;
        text-decoration: none;
          &:hover {
            color: #bd0d47;
          }
        }
      }
      p {
        color: gray;
      }
    }

  h3 {
      font-size: .8em;
      margin: 1em 0 0 0;
  }
}


.card-trip img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
