form {
  padding: 30px;
  background-color: white;
  width: 30vw;
  border-radius: 3px;
}

.btn-primary, .btn-secondary {
  background-color: #f02669;
  border: none;
  margin: 40px auto 0 auto;
  width: 150px;
  border-radius: 150px;
  color: white;
  padding: 10px;


  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    background-color: #bd0d47;
  }
}

.btn {
  color: white;
  &:hover{
    color: white;
  }
}


